{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="beerCase" id="beerCase">
  <!-- Content generated through script.js
  <div class="beerTag">
    <p>name</p>
    <p>tagline</p>
    <p>year of first brew</p>
    <img src="" alt="">
  </div> -->
</div>
{% endblock %}
