{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="beerCase" id="beerCase">
  <!-- Content generated through script.js -->
  <!-- <div class="beerTag">
    <p id="beerName">name</p>
    <p id="beerTagLine">tagline</p>
    <p id="beerDate">year of first brew</p>
    <img id="beerImg"  alt="img not found.">
  </div> -->
</div>
{% endblock %}
