{# The main page of the application #}

{% extends "_common.njk" %}

{% block content %}
<div class="beerCase" id="beerCase">
  <!-- Content generated through script.js -->
  <!-- <div class="beerTag">
    <div class="beerInfo">
      <p id="beerName">name</p>
      <p id="beerTagLine">tagline</p>
      <p id="beerDate">year of first brew</p>
    </div>
    <div class="beerPicture">
      <img id="beerImg"  alt="img not found.">
    </div>
  </div> -->
</div>
{% endblock %}
